body {
    box-sizing: 100%;
    padding: 50px;
    padding-right: 100px;
}

#site-header {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-bottom: 30px;
}

.best-blog {
    color: lightgray;
    margin-top: 0px;
}

.logo-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    align-self: center;
}

.header-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start;
    margin-left: 10px;
}

.social-logos {
    grid-column-start: 4; 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: end;
    align-self: center;
}

.delicious {
    align-self: end;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 8px;
}

.big-break {
    background-image: url("../assets/hr-img.png");
    background-repeat: repeat-x repeat-y;
    height: 15px;
}

#blog-post-header {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
    
}

h3 {
    color: lightgray;
    font-size: 15px;
    margin-top: 0px;
}

#print-id {
    display: flex;
    align-items: flex-end;
}

.print {
    height: 10px;
    color: lightgray;
    margin-bottom: 10px;
}

#pizza-img {
    width: 100%;
    margin-top: 10px;
}

#main-content {
    color: lightgray;
    margin-bottom: 30px;
}

#container {
    width: 100%;
    background-image: url('../assets/list-bg.png');
}

#left {
    color: black;
    font-size: 25px;
    line-height: 1.7em;
    list-style-type: square;
    columns: 2;
}

#author-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: lightgray;
    margin-bottom: 30px;
}

.author-details {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 5px;
    color: gray;
}

.author-details > p {
    margin: 5px;
}

button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
}

footer {
    color: lightgray;
    text-align: center;
}

footer > p {
    margin: 5px;
}

#small-logo {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}