#site-header {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.logo-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    align-self: center;
}

.header-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.social-logos {
    grid-column-start: 4; 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.delicious {
    align-self: end;
}

#blog-post-header {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
    
}

h3 {
    color: lightgray;
    font-size: 15px;
    margin-top: 0px;
}

#print-id {
    display: flex;
    align-items: flex-end;
}

.print {
    height: 10px;
    color: lightgray;
}

p.print {
    margin-bottom: 0px;
}
